<div class="container">
  <div class="action-bar" style="width:100%;">
    <a class="btn" href="/user-create">Izveidot</a>
  </div>
  <!-- User List Display -->
  <div *ngFor="let n of data" (click)="openUser(n)" class="tile">
    <div class="tile-front">
      <strong class="user-name">{{n.name}} {{n.surname}} | {{n.role}}</strong>
      <div class="user-info">
        <span>{{n.service}}</span>
        <span>{{n.adress}}</span>
      </div>

      <!-- Edit Button -->
      <button *ngIf="editing" class="btn" routerLink="/user-detail/{{n.id}}">
        <i class="fa fa-edit"></i> Labot
      </button>
    </div>
  </div>
</div>
