<div class="container">
  <div class="chat-container">
    <!-- Chat List -->
    <div class="chat-list">
      <h3>Chats</h3>
      <div *ngFor="let n of chats" class="chat-item" (click)="selectChat(n)">
        <span>{{n.fromName}} {{n.fromSurname}}</span>
      </div>
    </div>

    <!-- Messages Section -->
    <div class="chat-messages" *ngIf="selectedChat.id!=0">
      <div class="messages">
        <div *ngFor="let n of messages" [ngClass]="n.userFromId == currentUserId ? 'message-right' : 'message-left'">
          <div class="message">{{n.text}}</div>
        </div>
      </div>
      <div class="message-input">
        <textarea id="messageText" name="messageText" rows="2" [(ngModel)]="newMessage.text"></textarea>
        <button (click)="send()">Send <i class="fa fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</div>
